<style type = "text/css">
ol.green {background-color: green;}
ol.green {background-color: green;}
ol.yellow {background-color: yellow;}
ol.blue {background-color: lightblue;}
ol.red {background-color: red;}
ol.purple {background-color: purple;}
ol.indigo {background-color: indigo;}
ol.orange {background-color: orange;}
</style>
